{
  "parser": "@typescript-eslint/parser",
  "extends": ["@typescript-eslint", "airbnb-typescript", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
